body {
	font-family: sans-serif;
	color: #e0e0e0;
	background-color: #101012;
}

.teamList.pinned {
	border-bottom: 2px solid #c0c0c0;
	box-shadow: 0 0.5rem 1rem #00000040;
	z-index: 1;
	font-weight: bold;
}

.teamList .pinned span {
	background-color: #00000040;
	font-weight: bold;
}

.teamRow.odd span {
	background-color: #282b30;
}

.teamRow.even span {
	background-color: #202428;
}

.pinned .teamRow span {
	background-color: #181b20;
}

.teamRow span {
}

.teamList .teamNumber {
	text-align: right;
	font-weight: bold;
}

.header span {
	text-align: center;
}

.teamList .defenceScore, .teamList .oprDpr, .teamList .matches, .teamList .score {
	text-align: center;
}

.key-value-box {
	display: grid;
	margin: 0.5rem;
	background-color: #808088;
	border-radius: 0.5rem;
}

.key-value-box .key {
	grid-column: 1;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-right: solid 1px #e0e0e0;
	box-shadow: #00000020 0.5rem 0 1rem 0.5rem;
}

.key-value-box .value {
	grid-column: 2;
	padding: 0.6rem;
	font-size: 1.3rem;
	vertical-align: center;
}

.images img {
	border-radius: 0.5rem;
}
